<ng-container *ngIf="item">
  <mat-card class="favorite">
    <button mat-button [disableRipple]="true" (click)="onSelect()">
      <mat-card-header fxLayoutAlign="space-between center">
        <span mat-card-title>{{ item.location | titlecase }}</span>
        <span mat-card-subtitle>
          {{ item.temp! | temperature: metric }}
          <span [innerHTML]="metric | unit: 'temp'"></span>
        </span>
        <div>
          <span>{{ item.description | titlecase }}</span>
        </div>
      </mat-card-header>
    </button>
  </mat-card>
</ng-container>
