mat-icon {
  &.selected {
    color: #e91e63ed;
  }

  color: #bababa;
}

mat-card {
  &.forecast {
    min-width: 120px;
    text-align: center;

    .mat-card-subtitle {
      margin-bottom: 0px;
    }
  }
}
