mat-icon {
  &.selected {
    color: #e91e63ed;
  }

  color: #bababa;
}

mat-card {

  text-align: center;
  &.forecast {
    margin: 8px;
    min-width: 120px;

    .mat-card-subtitle {
      margin-bottom: 0px;
    }
  }
}
