<div fxLayout="column" fxLayoutAlign="center center">
  <header fxLayout="row" fxFlex="10rem" fxLayoutAlign="center center">
    <mat-form-field fxFlex="25" class="example-full-width" appearance="outline">
      <mat-label>Enter City</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        autocomplete="off"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        (optionSelected)="onOptionSelected($event)"
        autoActiveFirstOption
        #auto="matAutocomplete"
      >
        <mat-option
          *ngFor="let option of options$ | async"
          [value]="option.value"
        >
          {{ option | json }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </header>
  <main fxLayoutAlign="center center">
    <ng-container *ngIf="weatherResult$ | async as weatherResult">
      <app-weather-result
        fxFlex="50"
        [weatherResult]="weatherResult"
      ></app-weather-result>
    </ng-container>
  </main>
</div>
